@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Background colors */
  --background-primary: #ffffff;
  --background-secondary: #000000;

  /* Text colors */
  --text-primary: #000000;
  --text-secondary: #ffffff;

  /* Component specific colors */
  --banner-overlay: rgba(0, 0, 0, 0.1);
  --right-section-bg: #000000;
  --avatar-backdrop: rgba(255, 255, 255, 0.2);

  /* Line & Icon colors */
  --line-color: #ffffff;
  --icon-color: rgba(255, 255, 255, 0.7);
  --icon-hover-color: #ffffff;

  /* Accent colors */
  --accent-lime: #d6f27b;
  --accent-purple: #c5b5ff;
  --accent-pink: #fea7da;

  --menu-bg: rgba(0, 0, 0, 0.2);
  --menu-hover: rgba(0, 0, 0, 0.2);
  --menu-text: rgb(209, 213, 219);
  --menu-indicator: rgba(107, 114, 128, 0.5);
}

body {
  overflow: hidden !important;
  color: var(--text-primary);
  background: var(--background-primary);
  font-family: var(--font-lexend-deca);
}

@media (max-width: 1024px) {
  body {
    overflow-y: auto !important;
  }
}

* {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

*::-webkit-scrollbar {
  display: none !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}
