@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Background colors */
  --background-primary: #ffffff;
  --background-secondary: #000000;

  /* Text colors */
  --text-primary: #000000;
  --text-secondary: #ffffff;

  /* Component specific colors */
  --banner-overlay: rgba(0, 0, 0, 0.1);
  --right-section-bg: #000000;
  --avatar-backdrop: rgba(255, 255, 255, 0.2);
}

body {
  overflow: hidden !important;
  color: var(--text-primary);
  background: var(--background-primary);
  font-family: var(--font-lexend-deca);
}
